#if($result == "Player 2 Turn")
  <a href="/playerTwoReady">Sorry, it's Player Two's Turn</a>
#end
#if($result == "Guess Again")
  <a href="/playerOneTurn">That's right, guess again!</a>
#end
#if($result == "Not a legal Guess")
  <a href="/playerOneTurn">Please guess a value of a card in your hand</a>
#end
#if($result == "Player 1 Wins")
  <h1>Player 1 Wins!</h1>
#end
#if($result == "Player 2 Wins")
  <h1>Player 2 Wins!</h1>
#end
