<h1>$playerTwo</h1>

<form action="/playerTwoResult">
  <label for="guess">Guess a card:</label>
  <input name="guess" id="guess" type="text" class="form-control"><br>
  <button type="submit" class="btn btn-primary">Guess!</button>
</form>
<br><br>
<h4>Player 1 Score: $p1score</h4>
<h4>Player 2 Score: $p2score</h4>
